.gradle
/build/
.idea/workspace.xml
.idea/misc.xml
addressbook-web-tests/.idea/workspace.xml
addressbook-web-tests/.idea/misc.xml
*.class
/*.class
*tmp
*.log
addressbook-web-tests/build/test-results/*
addressbook-web-tests/build/reports/
addressbook-web-tests/out/test/classes/com/stqa/pft/addressbook/appmanager/*.class
sandbox/out/test/classes/com/stqa/pft/addressbook/appmanager/*.class
addressbook-web-tests/out/test/classes/com/stqa/pft/addressbook/tests/*.class
sandbox/out/test/classes/com/stqa/pft/addressbook/tests/*.class
addressbook-web-tests/.idea/workspace.xml
sandbox/.idea/workspace.xml

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
